// Bootstrap library.
@import 'bootstrap';

// Fonts
@import 'partials/fonts';

// Base-theme overrides.
@import 'overrides';

// Gaea variables
@import 'variable-overrides';

// Partials
@import 'partials/typography';
@import 'partials/footer';
@import 'partials/navs';
@import 'partials/comments';
@import 'partials/wv_blog';
@import 'partials/wv_homepage';
@import 'partials/wv_project';
@import 'partials/wv_child';


// Mixins
.clock {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  background-color: #eee;
  color: #fe5000;
  font-size: 1.75em;

  span {
    font-family: "Gill Sans MT Light Regular", Helvetica, Arial, sans-serif;
    font-size: .75em;
    margin-left: .1em;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;

  border-top: 29px solid #fff;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

.banner {
  margin-bottom: 30px;

  &.banner-primary {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat scroll 0% 0%, transparent url("../img/banners/CS_main_hpl_Lee_Ap_720x650.jpg") no-repeat scroll center center / cover;
    h2 {
      text-align: center;
    }

    @media (min-width: @grid-float-breakpoint-max) {
      min-height: 670px;
    }
  }

  &.banner-secondary {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat scroll 0% 0%, transparent url("../img/banners/CS_main_hpl_Lee_Ap_720x650.jpg") no-repeat scroll center center / cover;
    min-height: 320px;
  }
}
