// Bootstrap library.
@import 'bootstrap';

// Fonts
//@import 'partials/fonts';
@font-face {
  font-family: 'Gill Sans MT Light Regular';
  src: url('../fonts/gill-sans/GILL____.TTF');
}

@font-face {
  font-family: 'Gill Sans MT Regular';
  src: url('../fonts/gill-sans/GIL_____.TTF');
}

@font-face {
  font-family: 'Gill Sans MT Bold';
  src: url('../fonts/gill-sans/GILB____.TTF');
}

@font-face {
  font-family: 'Gill Sans MT Extra Bold Regular';
  src: url('../fonts/gill-sans/GILE____.TTF');
}

// Base-theme overrides.
@import 'overrides';

// Gaea variables
@import 'variable-overrides';

// Partials
@import 'partials/typography';
@import 'partials/forms';
@import 'partials/footer';
@import 'partials/navs';
@import 'partials/comments';
@import 'partials/wv_blog';
@import 'partials/wv_homepage';
@import 'partials/wv_project';
@import 'partials/wv_child';
@import 'partials/wv_solidarity_gift';
@import 'partials/wv_solidarity_resolution';
@import 'partials/wv_bounceback';
@import 'partials/wv_user';
@import 'partials/wv_search';
@import 'partials/views/views_bootstrap_tab_plugin_style';
@import 'partials/modules/commerce_checkout_progress';


.panel-separator {
  height: @line-height-computed;
}

.region-content table {
  margin-right: auto;
  margin-left: auto;
}

// Thumbnails
.thumbnail-green {
  border: unset;
  padding: 0;
  border-radius: 0;

  & > p:first-child {
    display: none;
  }

  h3 {
    padding: .2em .7em;
    font-size: .8em;
    text-transform: uppercase;
    margin: 0;
    background-color: @brand-green;
    color: white;
  }

  .media {
    margin: 0;
  }
}


// Mixins
.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

.img-circle {
  width: 160px;
  height: 160px;
  display: block;
  margin: 20px auto;
}

.clock {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  background-color: #eee;
  color: #fe5000;
  font-size: 1.75em;

  span {
    font-family: "Gill Sans MT Light Regular", Helvetica, Arial, sans-serif;
    font-size: .75em;
    margin-left: .1em;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;

  border-top: 29px solid #fff;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

.view-staff-patronato {
  .views-field-title {
    text-align: center;
    font-family: "Gill Sans MT Bold", Helvetica, Arial, sans-serif;
  }

  .views-field-field-position {
    text-align: center;
    font-family: "Gill Sans MT Light Regular", Helvetica, Arial, sans-serif;
  }
}

.bootstrap-threecol-stacked > .row > .col-md-4 {
  display: none;
}
