//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.
@brand-primary: #fe5000;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-sans-serif:  "Gill Sans MT Regular", Helvetica, Arial, sans-serif;
@font-size-base:          16px;

@headings-color:          @brand-primary;

//== Grid system
//
//## Define your custom responsive grid.

@screen-sm:                  992px;


//== Navbar
//
//##

// Basics of a navbar
@navbar-margin-bottom:             0px;
@navbar-border-radius:             0px;

@navbar-default-color:             #fff;
@navbar-default-bg:                #fff;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                @gray-base;
@navbar-default-link-hover-color:          @brand-primary;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         @brand-primary;
@navbar-default-link-active-bg:            transparent;

//=== Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      #fff;
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     #fff;

// Inverted navbar links
@navbar-inverse-link-color:                 #fff;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #fff;
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        #fff;
