.footer {
  h2 {
    color: @brand-primary;
    font-size: 1em;
    line-height: 1.428;
    text-transform: uppercase;
    border-bottom: 1px dotted;
    padding-bottom: 9px;
  }

  .vcard {
    font-size: .857142em;
    line-height: 1.6666;

    .fn.org {
      text-align: center;
      color: @brand-primary;
    }
  }
}