.region-content form {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

#edit-actions {
  margin: @line-height-computed auto;
  max-width: 33em;
}

.webform-client-form {
  .webform-component {
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;
  }
}

.region-content .commerce-add-to-cart {
  background-color: @gray-lighter;
  max-width: 350px;
  margin: 0 auto 22px;
  padding: @padding-base-vertical @padding-base-horizontal;

  .select-or-other > .form-item > .control-label {
    text-transform: uppercase;
    color: @brand-primary;
    font-family: "Gill Sans MT Light Regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
  }

  span.form-required {
    display: none;
  }
}

#edit-cart-contents,
#edit-customer-profile-billing,
#edit-customer-profile-wv-adtnl-info,
#edit-review-your-ecard,
#edit-rules-pane {
  legend {
    display: none;
  }
}

#edit-cancel,
#edit-back {
  display: none;
}

.logged-in #edit-account {
  display: none;
}


.node-wv-bounceback-display .commerce-add-to-cart {
  max-width: unset;

  #edit-line-item-fields {
    width: 100%;

    & > div {
      max-width: 50%;
      float: left;
    }
  }

  .field-name-field-wv-bb-line-predet-texts {
    padding-right: 20px;
  }

  button {
    clear: left;
    display: block;
    margin: 0 auto;
  }
}

.form-item-commerce-payment-payment-details-account-number-1,
.form-item-commerce-payment-payment-details-account-number-2,
.form-item-commerce-payment-payment-details-account-number-3,
.form-item-commerce-payment-payment-details-account-number-4 {
  width: 25%;
  float: left;
}

.form-item-commerce-payment-payment-details-account-number-2,
.form-item-commerce-payment-payment-details-account-number-3,
.form-item-commerce-payment-payment-details-account-number-4 {
  margin-top: 28px;
}

#edit-cart-contents {
  background-color: @gray-lighter;
}

.checkout-help {
  display: none;
}

.views-field-commerce-order-total {
  text-transform: uppercase;
  font-size: 1.25em;

  .field-content {
    display: inline-block;
    color: @brand-primary;
  }
}

#edit-commerce-payment-payment-details-iban .panel-body,
#edit-commerce-payment-payment-details-ccc .panel-body {
  display: flex;
}

.commerce-paypal-icons,
.commerce-sermepa-icons {
  display: flex;
  margin: -3px 0px 0px 20px;
  float: right;
}

.commerce-paypal-icons {
  flex-direction: row-reverse;
  img { display: none; }
  img:last-child { display: inline; }
}

.commerce-sermepa-icons {
  img:last-child,
  img:nth-child(5),
  img:nth-child(6) {
    display: none;
  }
}

#edit-checkout-donate {
  border: unset;

  #edit-checkout-donate-commerce-donate-amount-und-select {
    .form-item-checkout-donate-commerce-donate-amount-und-select:first-child {
      display: none;
    }
  }

  .form-item.form-item-checkout-donate-commerce-donate-amount-und.form-type-select-or-other.form-group {
    display: table;
    width: 100%;

    & > .select-or-other.select-or-other-processed {
      display: table-footer-group;

      & > div {
        padding-left: 20px;
        margin-top: 20px;
      }
    }

    & > .help-block {
      display: table-header-group;
      font-size: 1em;
    }
  }

  .form-type-radios > .control-label {
    display: none;
  }
}

#views-exposed-form-staff-patronato-page {
  max-width: unset;

  #edit-field-staff-type-value-wrapper {
    float: none;
  }

  a {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
    display: inline-block;
    padding: 5px;
    margin-right: 2px;
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
  }

  .bef-select-as-links {
    .form-item {

      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
