b,
strong {
  font-family: "Gill Sans MT Bold", Helvetica, Arial, sans-serif;
}

b,
strong,
em,
.brand-primary {
  color: @brand-primary;
}

p {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;

  &.lead {
    max-width: 33em;
    margin: 0 auto;
  }
}

