b,
strong {
  font-family: "Gill Sans MT Bold", Helvetica, Arial, sans-serif;
}

b,
strong,
em,
.brand-primary {
  color: @brand-primary;
}

p {

  &.lead {
    max-width: 33em;
    margin: 0 auto;
  }
}

