b,
strong {
  font-family: "Gill Sans MT Bold", Helvetica, Arial, sans-serif;
}

b,
strong,
em,
.brand-primary {
  color: @brand-primary;
}

p,
.region-content ul,
.region-content ol,
form {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
}


//== Headings
h1,
h2 {
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

p {

  &.lead {
    max-width: 33em;
    margin: 0 auto;
  }
}

