.thumbnail-post {
  background-color: @gray-lighter;

  @media (min-width: @grid-float-breakpoint-max) {
    min-height: 580px;
  }
}

article.node {
  header,
  .field-name-field-picture .field-items .field_item {
    text-align: center;
  }

  p,
  ul,
  ol {
    max-width: 33em;
    margin: 0 auto;
  }
}

.view-wv-latest-news {
  .thumbnail {
    background-color: @gray-lighter;

    p {
      max-width: 33em;
      margin: 0 auto;
    }

    h3 {
      text-align: center;
    }

    .caption {
      a {

      }
    }
  }
}