.view-wv-bounceback-summary {
  font-family: @font-family-monospace;
  font-size: 0.96em;
  line-height: 1.8;

  .views-field-field-wv-bounceback-text,
  .views-field-field-first-name,
  .views-field-name{
    position: absolute;
    width: 100%;
  }

  .views-field-field-wv-bounceback-text {
    top: 673px;

    .field-content {
      max-width: 372px;
      margin: 0 auto;
    }
  }

  .views-field-field-first-name {
    top: 50px;
    text-align: center;

    .field-content {
      display: inline-block;
    }
  }

  .views-field-name {
    top: 80px;
    text-align: center;

    .field-content {
      display: inline-block;
    }
  }
}