.page-elpropositoquesisecumple {

  h2 {
    font-size: 1em;
  }

  .lead {
    margin-bottom: 40px;
  }

  .field-collection-view {
    border: unset;
  }

  .field-name-field-wv-resol-summary {
    background-color: @brand-primary;
    color: white;
    text-transform: uppercase;
    padding: @padding-large-vertical @padding-large-horizontal;

    .field-items {
      display: table;
      height: 100%;

      .field-item {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .field-name-field-wv-resol-desc {
    padding: @padding-large-vertical @padding-large-horizontal;
  }

  .field-name-field-wv-resol-min {
    text-align: center;

    .field-items {
      display: inline-block;
      height: 60px;
      width: 60px;
      border: 1px solid @brand-primary;
      border-radius: 50%;
      line-height: 60px;
      margin-top: 20px;

      .field-item::before {
        content: "+";
      }
    }
  }

  .commerce-add-to-cart {
    background-color: white;
    max-width: 80%;
  }

  .field-name-field-wv-resol-user-benefit,
  .field-name-field-wv-resol-wv-benefit {
    text-transform: uppercase;
    text-align: center;
    color: @brand-primary;
  }

  .horizontal-tabs {
    border: unset;

    .horizontal-tabs-list {
      display: flex;
      justify-content: center;
      background-color: white;
    }

  }

  .field-collection-container {
    border: unset;
  }

  .field-name-field-wv-resol-segment > .field-items {
    display: flex;
  }

  .field-name-field-wv-resolsegtext {
    text-align: center;
  }

  .field-name-field-wv-resolsegicon {
    text-align: center;
    font-size: 1.5em;
    color: @brand-primary;
  }

  .panel-col-bottom .horizontal-tabs-panes fieldset:first-child .panel-body {
    display: flex;
  }

  .panel-2col-stacked:nth-child(even) .panel-col-bottom .horizontal-tabs-panes fieldset:first-child .panel-body .field-name-field-wv-resol-summary {
    order: 2;
  }

}